*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.toolbar {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-content: space-between;
    align-items: center;
    background-color: #3df1bb;
    padding: 10px;
}